<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>controller.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignupController</servlet-name>
        <servlet-class>controller.SignupController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerProductOverview</servlet-name>
        <servlet-class>controller.ControllerProductOverview</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>add2cart</servlet-name>
        <servlet-class>controller.add2cart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerDetail</servlet-name>
        <servlet-class>controller.ControllerDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showCartController</servlet-name>
        <servlet-class>controller.showCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerAdmin</servlet-name>
        <servlet-class>controller.ControllerAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerProduct</servlet-name>
        <servlet-class>controller.ControllerProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerBill</servlet-name>
        <servlet-class>controller.ControllerBill</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerCustomer</servlet-name>
        <servlet-class>controller.ControllerCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerBill_Detail</servlet-name>
        <servlet-class>controller.ControllerBill_Detail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutController</servlet-name>
        <servlet-class>controller.CheckoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutController</servlet-name>
        <servlet-class>controller.LogOutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerCategory</servlet-name>
        <servlet-class>controller.ControllerCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveController</servlet-name>
        <servlet-class>controller.RemoveController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyAccountController</servlet-name>
        <servlet-class>controller.MyAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerProductCategory</servlet-name>
        <servlet-class>controller.ControllerProductCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateQuantityController</servlet-name>
        <servlet-class>controller.UpdateQuantityController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/HomeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignupController</servlet-name>
        <url-pattern>/SignupController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerProductOverview</servlet-name>
        <url-pattern>/ControllerProductOverview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>add2cart</servlet-name>
        <url-pattern>/add2cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerDetail</servlet-name>
        <url-pattern>/ControllerDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showCartController</servlet-name>
        <url-pattern>/showCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerAdmin</servlet-name>
        <url-pattern>/ControllerAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerProduct</servlet-name>
        <url-pattern>/ControllerProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerBill</servlet-name>
        <url-pattern>/ControllerBill</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerCustomer</servlet-name>
        <url-pattern>/ControllerCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerBill_Detail</servlet-name>
        <url-pattern>/ControllerBill_Detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutController</servlet-name>
        <url-pattern>/CheckoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutController</servlet-name>
        <url-pattern>/LogOutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerCategory</servlet-name>
        <url-pattern>/ControllerCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveController</servlet-name>
        <url-pattern>/RemoveController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyAccountController</servlet-name>
        <url-pattern>/MyAccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerProductCategory</servlet-name>
        <url-pattern>/ControllerProductCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateQuantityController</servlet-name>
        <url-pattern>/UpdateQuantityController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
